grants_nsf_diversity_wide.csv
grants_dupes.csv
gs_dupes.csv
gs_sources_all_summary.csv
pm_dupes.csv
diversity_nsf_fail_summary.csv
grant_dupes_summary.csv
grants_nsf_diversity.csv
gs_neurology_examples.csv
gs_no_source_summary.csv
gs_sources_not_stem_summary.csv
pm_nondei_examples.csv
pm_sources_all_summary.csv
pm_sources_not_stem_summary.csv
pubs_dupes_summary.csv
twitter_notdei.csv
twitter_notdei_summary.csv
